{% extends 'base.html.twig' %}

{% block title %}Détails de la Plante{% endblock %}

{% block body %}
    <h1>Détails de la Plante</h1>
<div class="plant-detail" style='background-image: url("{{ asset('uploads/images/' ~ (plant.getImage ? plant.getImage : 'default.jpg')) }}");'>
<span>{{ plant.getName }}</span></div>


    <table>
        <tr>
            <th colspan='2'>Nom Latin</th>
            <td colspan='2'>{{ plant.getLatinName }}</td>
        </tr>
        <tr>
            <th colspan='2'>Type</th>
            <td colspan='2'>{{ plant.getType }}</td>
        </tr>
<tr>
    <th colspan='2'>Date de floraison</th>
    <td colspan='2'>{{ plant.getFloweringDate ? plant.getFloweringDate|date('d/m/Y') : 'Non spécifié' }}</td>
</tr>

        <tr>
            <th colspan='2'>Description</th>
            <td colspan='2'>{{ plant.getDescription }}</td>
        </tr>
        <tr>
            <th  colspan='2'>Taille</th>
            <td  colspan='2'>{{ plant.getSize }}</td>
        </tr>
    </table>
    <table>
        <th>Date d'ajout : {{ plant.getCreatedDate ? plant.getCreatedDate|date('d/m/Y') : 'Non spécifié' }} - Dernière M.A.J : {{ plant.getUpdatedDate ? plant.getUpdatedDate|date('d/m/Y') : 'Non spécifié' }}</th>
    </table>

{% endblock %}
