<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <a href='{{ path('plant_list') }}'>Plantes</a>
        {% if app.user %}
            <a href="{{ path('plant_add') }}">Ajouter plante</a>
            <a href="{{ path('region_page') }}">Régions</a>
            <a href="{{ path('logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('login') }}">Connexion</a>
            <a href="{{ path('app_register') }}">Inscription</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block body %}
    {% endblock %}
</main>

<footer>
    <div class="footer-content">

            <a href="{{ path('contact') }}">Contact</a>
            <a href="{{ path('mentions') }}">Mentions légales</a>

    </div>
</footer>
</body>
</html>
